<h1>Disciplinas</h1>
<hr>
<ul>
    <li *ngFor="let disciplina of disciplinas" (click)="selecionar(disciplina)">
        <p [class.selecionado]="selecionado == disciplina">{{disciplina.nome}}</p>
        <button (click)="excluir(disciplina)">Excluir</button>
        <button (click)="editar(disciplina)">Editar</button>
        <p *ngIf="selecionado == disciplina">{{disciplina.descricao}}</p>
    </li>
</ul>
<h2>Cadastrar ou Editar uma Disciplina</h2>
<p>Use este formulário para cadastrar ou editar uma disciplina.</p>
<form #cadastro="ngForm" (submit)="salvar()">
    <div>
        <label for="nome">Nome</label><br>
        <input type="text" id="nome" name="nome" [(ngModel)]="nome" required>
    </div>
    <div>
        <label for="descricao">Descricao</label><br>
        <textarea id="descricao" name="descricao" [(ngModel)]="descricao" cols="70" rows="5"></textarea>
    </div>
    <button type="submit" [disabled]="!cadastro.valid">
        salvar
    </button>
    <button type="reset" (click)="cancelar()">Cancelar</button>
</form>